.splash {
    background-color: aqua;
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    z-index: 2;
    overflow-y: scroll;
}

#postForm {
    background-color: darkgrey;
    position: absolute;
    top: 35%;
    left: 33%;
    right: 33%;
    bottom: 35%;
    text-align: center;
    z-index: 1;
    overflow-y: scroll;
}
.preventSelect {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#imgID {
    position: absolute;
    top: 33%;
    left: 45%;
    width: 10%;
}
.unLikedIcon {
    color: grey;
    font-size: 28px
}

.likedIcon {
    color: red;
    font-size: 38px
}

.fa-icon-comment {
    font-size: 29px;
    margin-left: 10px;
    margin-top: -0.3%;
}

.unMarked {
    color: grey;
    font-size: 29px;
    margin-left: auto;
}

.marked {
    color: red;
    font-size: 29px;
    margin-left: auto;
}

.card-image {
    max-width: 100%;
    height: auto
}

.card-body-icons {
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.post-text {
    margin-left: 10px;
    margin-right: auto;
}

.post-date-time {
    margin-left: 10px;
    margin-right: auto;
}

.post-user {
    margin-left: 10px;
    margin-right: auto;
}

input #file-upload-button {
    background-color: red;
}

.comment-group{
    margin: 5% 5% 5% 5%;
    background-color: aqua;
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
}
.formShow {
    border: 1px solid red;
    margin: 5% 5% 5% 5%;

}
.formHide{
    display: none;
}
