.splash {
    background: linear-gradient(#141e30, #243b55);
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
}
#regForm, #logForm{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
#regForm h1, p, #logForm h1, p{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
#regForm .reg-container, #logForm .log-container {
    position: relative;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
#regForm .reg-container input:focus ~ label,
#regForm .reg-container input:valid ~ label,
#logForm .log-container input:focus ~ label,
#logForm .log-container input:valid ~ label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
#regForm .reg-container label,
#logForm .log-container label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.registerbtn, .loginbtn {
    border-radius: 12px;
    background-color: #31423b;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}
.registerbtn:hover, .loginbtn:hover {
    opacity: 1;
}
a {
    color: dodgerblue;
}
/*=========================================================================*/
@media (min-width: 768px) {
    .row-cols-md-2 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 45%;
    }
}
#postForm {
    border-radius: 34px;
    background-color: #31423b;
    position: fixed;
    right: 40%;
    left: 40%;
    bottom: 35%;
    padding: 23px;
    min-width: 250px;
}
.preventSelect {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#imgID {
    position: absolute;
    top: 33%;
    left: 45%;
    width: 10%;
    z-index: 10;
}
.card {
    width: 100%;
}
.card p, span{
    color: black;
}
.unLikedIcon {
    color: grey;
    font-size: 28px
}

.likedIcon {
    color: red;
    font-size: 38px
}

.fa-icon-comment {
    font-size: 29px;
    margin-left: 10px;
    padding-top: 3px;
}

.unMarked {
    color: grey;
    font-size: 29px;
    margin-left: auto;
}

.marked {
    color: red;
    font-size: 29px;
    margin-left: auto;
}

.card-image {
    max-width: 80%;
    height: auto
}

.card-body-icons {
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.post-text {
    margin-left: 10px;
    margin-right: auto;
}

.post-date-time {
    margin-left: 10px;
    margin-right: auto;
}

.post-user {
    margin-left: 10px;
    margin-right: auto;
}

input #file-upload-button {
    background-color: red;
}

.comment-texts{
    font-family: "Lucida Handwriting";
}
.comment-group{
    margin: 5% 5% 5% 5%;
    background-color: aqua;
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
}

.formShow {
    border: 1px solid red;
    margin: 5% 5% 5% 5%;

}
.formHide{
    display: none;
}
.a.nav-link{
    border: 0.5px solid black;
    border-radius: 23px;
    background-color: #959f99;
}
++++++++++++++++++++++++++++++++++++++
