<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

</head>
</head>

<body>
<script>
  $(()=>{
    findLocalStorageUser();
  })
</script>
<div>
  <div class="splash" id="splash">
    <form id="regForm">
      <div class="reg-container">
        <div>
          <h1>Register</h1>
        </div>
        <div>
          <input type="text" placeholder="Enter Email" name="email" id="email" required>
        </div>
        <div>
          <input type="password" placeholder="Enter Password" name="password" id="password" required>
        </div>
        <div>
          <input type="text" placeholder="Enter name" name="name" id="name" required>
        </div>
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <div>
          <p>Already have an account? <a href="#" onclick="changeFormDisplays()" style="color: dodgerblue; cursor: pointer">Sign in</a>.</p>
        </div>
        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>

    <form id="logForm" style="display: none">
      <div class="log-container">
        <div>
          <h1>LOGIN</h1>
        </div>
        <div>
          <input type="text" placeholder="Enter Email" name="email" required>
        </div>
        <div>
          <input type="password" placeholder="Enter Password" name="password" required>
        </div>
        <button type="submit" class="loginbtn">LOGIN</button>
      </div>
    </form>
  </div>

  <div id="postFormDiv" class="col">
    <form id="postForm">
      <div>
        <input type="file" id="post-photo" name="photo" accept="image/*">
      </div>
      <div>
        <input type="text" id="post-description" name="description" placeholder="Description of post">
      </div>
      <div>
        <input type="hidden" id="post-user-id" name="user-id" name="userId" value="1"/>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>

  <div class="container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div  id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button class="nav-link" style="border: 0.5px solid black; border-radius: 23px; background-color: #959f99;" onclick="showPostForm()">Show create post form<span class="sr-only">(current)</span></button>
            </li>
            <li class="nav-item">
              <button class="nav-link" style="border: 0.5px solid black; border-radius: 23px; background-color: #959f99;" onclick="hidePostForm()">Hide create post form</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" style="border: 0.5px solid black; border-radius: 23px; background-color: #959f99;" onclick="getAllPosts()">Show all posts</button>
            </li>
            <li class="nav-item">
              <p id="stored-user"></p>
            </li>
            <li class="nav-item">
              <button class="nav-link" style="border: 0.5px solid black; border-radius: 23px; background-color: #959f99;" onclick="cleanLocalStorageUser()">Log out</button>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-4 mb-5 pb-5" id="post-card-group">
      <div class="col" id="col-card" style="display: none">
        <div class="card main-card" style="border: 1px solid; padding: 10px; box-shadow: 0 15px 25px rgba(0,0,0,.6);;"><!--//new added-->
          <img class="card-img-top rounded-0" src="trees.jpg" alt="Post photo" ondblclick="setTimeout(onClickLikePost(e), 2000)">
          <div class="card-body" id="card-body" style="max-width: 100%">
            <i class="fa fa-heart unLikedIcon" onclick="onClickLike()" id="icon-heart"></i>
            <i class="fa fa-comment-o fa-icon-comment" style="margin-left: 10px; margin-top:5px; padding-top: 3px;" onclick="showCommentForm(e)" id="icon-comment"></i>
            <i class="fa fa-bookmark unMarked" style="left: 80%; position: absolute; padding-top: 5px"  onclick="onClickBookmark(e)" id="icon-bookmark"></i>
          </div>
          <p class="post-text">Post-description: dsd </p>
          <p class="post-date-time">PostDate: Thu Apr 20 2023 </p>
          <span class="post-user"><p>User email: beka@gmail.com || Beka</p></span>

          <div id="comment-group">
            <form id="commentForm">
              <p class="comment-group-texts">Comment area</p>
                <input type="text" id="comment-text" name="user-id" value="comment-text">
                <input type="hidden" id="comment-user-id" name="user-id" value="1"/>
                <input type="hidden" id="comment-post-id" name="post-id" value="1"/>
                <button type="submit">Submit</button>
            </form>
          </div>
        </div>
    </div>
  </div>

</div>
  <script src="/js/postScript.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>

</html>




